{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            System Status
        </title>
        <meta charset="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1,shrink-to-fit =no">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="plotly-latest.min.js"></script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--Chart.js-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
        <script>
            //window.setTimeout(function () {location.href = ".";}, 10000); 
        </script>
    </head>
    <script>
        window.onload = function() {
        
        var dataPointscpu = [];
        var dataPointsram = [];
        var dataPointssent = [];
        var dataPointsrec = [];
        var dataPointstemp = [];
        
        var cpuchart = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: false,
            theme: "light2",
            title: {
                text: "CPU Percentage"
            },
            axisY: {
                title: "Percent",
                titleFontSize: 24
            },
            data: [{
                type: "area",
                yValueFormatString: "#,### Units",
                dataPoints: dataPointscpu
            }]
        });
        var cputempchart = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: false,
            theme: "light2",
            title: {
                text: "CPU Temperature"
            },
            axisY: {
                title: "Temperature",
                titleFontSize: 24
            },
            data: [{
                type: "area",
                yValueFormatString: "#,### Units",
                dataPoints: dataPointstemp
            }]
        });
        var ramchart = new CanvasJS.Chart("chartContainer3", {
            animationEnabled: false,
            theme: "light2",
            title: {
                text: "RAM Percentage"
            },
            axisY: {
                title: "Percent",
                titleFontSize: 24
            },
            data: [{
                type: "area",
                yValueFormatString: "#,### Units",
                dataPoints: dataPointsram
            }]
        });
        var sentchart = new CanvasJS.Chart("chartContainer4", {
            animationEnabled: false,
            theme: "light2",
            title: {
                text: "Bytes Sent"
            },
            axisY: {
                title: "Sent",
                titleFontSize: 24
            },
            data: [{
                type: "area",
                yValueFormatString: "#,### Units",
                dataPoints: dataPointssent
            }]
        });
        var recchart = new CanvasJS.Chart("chartContainer5", {
            animationEnabled: false,
            theme: "light2",
            title: {
                text: "Bytes Received"
            },
            axisY: {
                title: "Received",
                titleFontSize: 24
            },
            data: [{
                type: "area",
                yValueFormatString: "#,### Units",
                dataPoints: dataPointsrec
            }]
        });
        updateData();

var count = 0;
function addData(data) {
    datacpu = data['cpu_graph'];
    datatemp = data['cpu_temp'];
    dataram = data['ram_graph'];
    datasent = data['sent'];
    datarec = data['received'];;
   if(dataPointscpu.length>0){
        dataPointscpu.push({label: datacpu[datacpu.length-1][1], y:datacpu[datacpu.length-1][0]});
        dataPointstemp.push({label: datatemp[datatemp.length-1][1], y:datatemp[datatemp.length-1][0]});
        dataPointsram.push({label: dataram[dataram.length-1][1], y:dataram[dataram.length-1][0]});
        dataPointssent.push({label: datasent[datasent.length-1][1], y:datasent[datasent.length-1][0]});
        dataPointsrec.push({label: datarec[datarec.length-1][1], y:datarec[datarec.length-1][0]});        
    }
    else{
        for(var i =0;i<datacpu.length;i++){
            dataPointscpu.push({label:datacpu[i][1], y:datacpu[i][0]});
            dataPointstemp.push({label:datatemp[i][1],y:datatemp[i][0]})
            dataPointsram.push({label:dataram[i][1], y:dataram[i][0]});
            dataPointssent.push({label:datasent[i][1], y:datasent[i][0]});
            dataPointsrec.push({label:datarec[i][1], y:datarec[i][0]});
        }
    }
    cpuchart.render()
    cputempchart.render()
    ramchart.render()
    sentchart.render()
    recchart.render()
    count ++;
	setTimeout(updateData, 5000);
}

function updateData() {
	$.getJSON('http://127.0.0.1:8000/cpujson/', addData);
}

}
    </script>

    <body>
        <div>
            <h2>CPU Percentage</h2>
            <div id="chartContainer1" style="height: 270px; width: 75%;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
        <div>
            <h2>CPU Temperature</h2>
            <div id="chartContainer2" style="height: 270px; width: 75%;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
        <div>
            <h2>RAM</h2>
            <div id="chartContainer3" style="height: 270px; width: 75%;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
        <div>
            <h2>Network</h2>
            <div id="chartContainer4" style="height: 270px; width: 75%;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

            <div id="chartContainer5" style="height: 270px; width: 75%;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </body>
</html>